@import "variables.less";

body > .loading {
    @width: 400px;
    @height: 75px;;

    position: fixed;
    left: calc(50% - @width / 2);
    top: 0;
    z-index: 9999;  // :(

    font-size: 200%;
    border-radius: 0 0 8px 8px;
    background-color: #cccccc;
    opacity: 0.5;
    padding: @spacingWide;
    width: @width;
    height: @height;
}

.navbar-container {
    padding: @spacingWide @spacingWide 0 @spacingWide;
    width: 100%;

    .navbar {
        margin: 0;
        .dropdown-toggle {
            cursor: pointer;
        }
        .dropdown-menu .fas {
            color: @grey;
            margin-right: @spacingNarrow;
        }
        li.active > a > .fas {
            color: @white;
        }
    }

    .controls {
        @spacing: 14px;

        float: right;
        padding-top: @spacing;

        .export-dropdown {
            .dropdown-menu {
                left: auto;
                right: @spacing;
            }
        }

        button {
            margin-right: @spacing;
        }
    }
}

.post-nav {
    margin: @spacingWide;

    .post-nav-left {
        position: fixed;
        top: @navHeight + @spacingWide;
        bottom: @spacingWide;
        overflow-y: auto;
        width: 16%;    // col-sm-2

        > * {
            margin-bottom: 5px;
        }
    }

    .post-nav-right {
        .item-page {
            position: fixed;
            top: @navHeight + @spacingWide;
            bottom: @spacingWide;
            overflow-y: auto;
        }
    }
}
