{% include "rhyme/partials/modal_filter_base_button.html" with name='Starred' icon='star-half-alt' lhs='starred' %}

{% include "rhyme/partials/modal_filter_base_button.html" with name='Rating' icon='star' lhs='rating' %}
{% include "rhyme/partials/modal_filter_base_button.html" with name='Energy' icon='fire' lhs='energy' %}
{% include "rhyme/partials/modal_filter_base_button.html" with name='Mood' icon='heart' lhs='mood' %}

{% include "rhyme/partials/modal_filter_base_button.html" with name='Tag' icon='tags' lhs='tag' %}
{% include "rhyme/partials/modal_filter_base_button.html" with name='Tag Year' icon='history' lhs='tag_year' %}

{% include "rhyme/partials/modal_filter_base_button.html" with name='Artist' icon='microphone' lhs='artist' %}
{% include "rhyme/partials/modal_filter_base_button.html" with name='Genre' icon='folder' lhs='genre' %}

{% include "rhyme/partials/modal_filter_base_button.html" with name='Release Year' icon='calendar' lhs='year' %}
{% include "rhyme/partials/modal_filter_base_button.html" with name='Song Length' icon='clock' lhs='time' %}

{% include "rhyme/partials/modal_filter_base_button.html" with name='Year Acquired' icon='shopping-cart' lhs='acquired_year' %}

{% include "rhyme/partials/modal_filter_base_button.html" with name='Playlist' icon='list' lhs='playlist' %}

{% include "rhyme/partials/modal_filter_base_button.html" with name='Album Name' icon='compact-disc' lhs='name' %}
{% include "rhyme/partials/modal_filter_base_button.html" with name='Is Mix' icon='blender' lhs='is_mix' %}

<input name="song_filters" type="hidden" data-bind="value: songFilters" />
<input name="album_filters" type="hidden" data-bind="value: albumFilters" />

<div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-secondary btn-sm" data-bind="click: toggleConjunction, css: {active: useAnd}">AND</button>
    <button type="button" class="btn btn-outline-secondary btn-sm" data-bind="click: toggleConjunction, css: {active: useOr}">OR</button>
</div>
<input name="conjunction" type="hidden" data-bind="value: conjunction" />
