<div id="song-list" class="modal" data-bind="event: {hide: hideModal, 'hide.bs.modal': hideModal}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>
                    <div class="pull-right">
                        {% include "rhyme/partials/export_action.html" with params="songListParams()" %}
                    </div>
                    <span class="modal-title" data-bind="text: modalName"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div data-bind="if: modalHeaders().length">
                    <div data-bind="foreach: modalHeaders()">
                        <h4 data-bind="text: $data"></h4>
                        <table class='song-table'>
                            <tbody data-bind="foreach: _.filter($root.modalSongs(), function (song) { return song.disc_number === $index() + 1; })">
                                {% include "rhyme/partials/song_row.html" %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <table data-bind="ifnot: modalHeaders().length" class='song-table'>
                    <tbody data-bind="foreach: modalSongs">
                        {% include "rhyme/partials/song_row.html" %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
