<div class="filter-type" data-bind="with: getFilterTypeModel('{{ lhs }}')" style="margin-top: 5px;"><!-- TODO: move into class -->
    <div class="btn-group" role="group">
        <button class="btn btn-xs btn-default" data-toggle="modal" data-target="#filter-modal-{{ name|slugify }}" data-bind="css: {'active': filterText}">
            <i class="fas fa-{{ icon|default:"plus" }}"></i>
            {{ name }}
            <span data-bind="text: filterText"></span>
        </button>
        <!-- ko if: filterText -->
            <button class="btn btn-xs btn-default active" data-bind="click: removeFilters">
                <i class="far fa-times"></i>
            </button>
        <!-- /ko -->
    </div>
</div>
