<div class="filter-type" data-bind="with: getFilterTypeModel('{{ lhs }}')">
    <div class="btn-group" role="group">
        <button class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#filter-modal-{{ name|slugify }}" data-bind="css: {'active': filterText}">
            <i class="fas fa-{{ icon|default:"plus" }}"></i>
            {{ name }}
            <span data-bind="text: filterText"></span>
        </button>
        <!-- ko if: filterText -->
            <button class="btn btn-sm btn-outline-secondary active" data-bind="click: removeFilters">
                <i class="fas fa-times"></i>
            </button>
        <!-- /ko -->
    </div>
</div>
