<a class="btn btn-default" data-toggle="modal" data-target="#filter-modal-{{ name|slugify }}">
    <i class="fa fa-plus"></i>
    {{ name }}
</a>

<div class="modal filter-modal" id="filter-modal-{{ name|slugify }}" tabindex="-1" role="dialog" aria-hidden="true" data-lhs="{{ lhs }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5>{{ name }}</h5>
            </div>
            <div class="modal-body">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
