{% extends 'rhyme/partials/modal_filter_base.html' %}

{% block body %}
    <select class="lhs form-control choices-js" multiple data-url="{{ url }}">
        {% for option in options %}
            <option>{{ option }}</option>
        {% endfor %}
    </select>
    <div class="d-flex mt-2 gap-2">
        <button class="btn btn-outline-secondary flex-fill"
                data-bind="click: function (model, e) { addFilter('{{ model }}', '{{ lhs }}', '*=', getFilterValue(e)) }"
                data-bs-dismiss="modal">
            Any
        </button>
        {% if include_all %}
            <button class="btn btn-outline-secondary flex-fill"
                    data-bind="click: function (model, e) { addFilter('{{ model }}', '{{ lhs }}', '=', getFilterValue(e)) }"
                    data-bs-dismiss="modal">
                All
            </button>
        {% endif %}
        <button class="btn btn-outline-secondary flex-fill"
                data-bind="click: function (model, e) { addFilter('{{ model }}', '{{ lhs }}', '!=', getFilterValue(e)) }"
                data-bs-dismiss="modal">
            None
        </button>
    </div>
{% endblock %}
