{% extends 'rhyme/partials/modal_filter_base.html' %}

{% block body %}
    <div class="input-group mb-2">
        <div class="input-group-text">
            at least
        </div>
        <input class="form-control rhs" />
        <button class="btn btn-outline-secondary"
                data-bind="click: function (model, e) { addFilter('{{ model }}', '{{ lhs }}', '>=', getTimeFilterValue(e)) }"
                data-bs-dismiss="modal">
            Onward
        </button>
    </div>
    <div class="input-group mb-2">
        <div class="input-group-text">
            at most
        </div>
        <input class="form-control rhs" />
        <button class="btn btn-outline-secondary"
                data-bind="click: function (model, e) { addFilter('{{ model }}', '{{ lhs }}', '<=', getTimeFilterValue(e)) }"
                data-bs-dismiss="modal">
            Onward
        </button>
    </div>
{% endblock %}
