<div class="modal filter-modal" id="filter-modal-{{ name|slugify }}" tabindex="-1" role="dialog" aria-hidden="true" data-lhs="{{ lhs }}" data-bind="event: {'shown.bs.modal': focusFilter }">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% block body %}{% endblock %}
                {% if not disallow_null %}
                    <div class="d-flex gap-2">
                        <button class="btn btn-outline-secondary flex-fill" data-bind="click: function () { addFilter('{{ model }}', '{{ lhs }}', '=?', false) }" data-bs-dismiss="modal">
                            <i class="fas fa-question-circle"></i>
                            is null
                        </button>
                        <button class="btn btn-outline-secondary flex-fill" data-bind="click: function () { addFilter('{{ model }}', '{{ lhs }}', '=?', true) }" data-bs-dismiss="modal">
                            <i class="fas fa-check-circle"></i>
                            is not null
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
