<tr data-bind="attr: {'data-song-id': id }">
    <td class="icon-cell is-starred" data-bind="css: {'table-danger': hasError}">
        <i data-bind="css: {'update-in-progress': updateInProgress}, attr: {'class': starClass}, click: toggleStar"></i>
    </td>
    <td data-bind="visible: track_number, text: track_number + '.'"></td>
    <td class="col-sm-2" data-bind="text: name"></td>
    <td data-bind="text: artist"></td>
    <td>
        <ul class="list-unstyled" data-bind="foreach: albums">
            <li><a href="javascript: void(0)" data-bind="text: name, click: function() { $root.showModal(name, {album_id: id}) }"></a></li>
        </ul>
    </td>
    <td><div contenteditable='true' data-field='rating' class="rating">{% include "rhyme/partials/rating.html" with rating_attribute="rating" icon="star" %}</div></td>
    <td><div contenteditable='true' data-field='energy' class="rating">{% include "rhyme/partials/rating.html" with rating_attribute="energy" icon="fire" %}</div></td>
    <td><div contenteditable='true' data-field='mood' class="rating">{% include "rhyme/partials/rating.html" with rating_attribute="mood" icon="heart" %}</div></td>
    <td contenteditable='true' data-field='tags' class='tags' data-bind="text: tags.join(' ')"></td>
</tr>
