<tr data-bind="attr: {'data-song-id': id }">
    <td class="icon-cell is-starred">
        <i data-bind="css: {'fas': starred, 'far': !starred}" class='fa-star'></i>
    </td>
    {% if include_index %}
        <td data-bind="text: $index() + 1 + '.'"></td>
    {% endif %}
    <td data-bind="text: name"></td>
    <td data-bind="text: artist"></td>
    <td data-bind="text: albums"></td>
    <td data-bind="text: year"></td>
    <td><div contenteditable='true' data-field='rating' class="rating">{% include "rhyme/partials/rating.html" with rating_attribute="rating" icon="star" %}</div></td>
    <td><div contenteditable='true' data-field='energy' class="rating">{% include "rhyme/partials/rating.html" with rating_attribute="energy" icon="fire" %}</div></td>
    <td><div contenteditable='true' data-field='mood' class="rating">{% include "rhyme/partials/rating.html" with rating_attribute="mood" icon="heart" %}</div></td>
    <td contenteditable='true' data-field='tags' class='tags' data-bind="text: tags.join(' ')"></td>
</tr>
