<tr data-bind="attr: {'data-song-id': id }">
    <td class="icon-cell is-starred" data-bind="react: {
        component: 'star',
        id: id,
        value: starred,
    }">
    </td>
    <td data-bind="visible: track_number, text: track_number + '.'"></td>
    <td class="col-sm-2" data-bind="text: name"></td>
    <td data-bind="text: artist"></td>
    <td data-bind="text: albums"></td>
    <td data-bind="text: year"></td>
    <td class="rating" data-bind="react: {
        component: 'rating',
        id: id,
        field: 'rating',
        icon: 'star',
        value: rating
    }"></td>
    <td class="rating" data-bind="react: {
        component: 'rating',
        id: id,
        field: 'energy',
        icon: 'fire',
        value: energy
    }"></td>
    <td class="rating" data-bind="react: {
        component: 'rating',
        id: id,
        field: 'mood',
        icon: 'heart',
        value: mood
    }"></td>
    <td class="tags" data-bind="react: {
        component: 'tags',
        id: id,
        value: tags.join(' '),
    }"></td>
</tr>
