{% include 'rhyme/partials/modal_filter_select.html' with model='song' name='Tag' lhs='tag' url='tag_select2' include_all=True %}
{% include 'rhyme/partials/modal_filter_select.html' with model='song' name='Artist' lhs='artist' url='artist_select2' %}
{% include 'rhyme/partials/modal_filter_text.html' with model='song' name='Song Name' lhs='name' %}
{% include 'rhyme/partials/modal_filter_select.html' with model='song' name='Genre' lhs='genre' options=RHYME_GENRES %}
{% include 'rhyme/partials/modal_filter_rating.html' with model='song' name='Rating' lhs='rating' icon='star' %}
{% include 'rhyme/partials/modal_filter_rating.html' with model='song' name='Energy' lhs='energy' icon='fire' %}
{% include 'rhyme/partials/modal_filter_rating.html' with model='song' name='Mood'  lhs='mood' icon='heart' %}
{% include 'rhyme/partials/modal_filter_numeric.html' with model='song' name='Year' lhs='year' %}
{% include 'rhyme/partials/modal_filter_time.html' with model='song' name='Song Length' lhs='time' %}
{% include 'rhyme/partials/modal_filter_bool.html' with model='song' name='Starred' lhs='starred' %}
