{% extends 'orange/base.html' %}

{% load static %}

{% block title %}Kilo{% endblock title %}

{% block style %}{{ block.super }}
  <link rel="stylesheet" href="{% static "c3/c3.min.css" %}"
        integrity="sha512-cznfNokevSG7QPA5dZepud8taylLdvgr0lDqw/FEZIhluFsSwyvS81CMnRdrNSKwbsmc43LtRd2/WMQV+Z85AQ=="
        crossorigin="anonymous">
  </link>
{% endblock style %}

{% block js %}{{ block.super }}
  <script src="{% static "htmx.org/dist/htmx.min.js" %}"></script>
  <script src="{% static "d3/dist/d3.min.js" %}"></script>
  <script src="{% static "c3/c3.min.js" %}"></script>
{% endblock js %}

{% block body %}
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
      <!-- TODO: show on page load, too -->
      <a class="navbar-brand" href="#"
         hx-get="{% url "frequency" %}"
         hx-target="#graph-options"
         hx-on:htmx:after-request="c3.generate(JSON.parse(document.getElementById('graph-options').innerHTML))"
      >Kilo</a>
      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
          <a class="nav-link" href="#"
             hx-get="{% url "recent" %}"
             hx-target="#panel"
          >Recent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
             hx-get="{% url "pace" %}"
             hx-target="#graph-options"
             hx-on:htmx:after-request="c3.generate(JSON.parse(document.getElementById('graph-options').innerHTML))"
          >Speed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
             hx-get="{% url "stats" %}"
             hx-target="#panel"
          >Achievement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
             hx-get="{% url "history" %}"
             hx-target="#panel"
          >History</a>
        </li>
      </ul>
    </nav>
    <br />
    <div id="panel"></div>
    <div id="graph-options" style="display: none;"></div>
  </div>
{% endblock body %}
