{% extends 'orange/base.html' %}

{% load static %}

{% block title %}Kilo{% endblock title %}

{% block style %}{{ block.super }}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
        crossorigin="anonymous">
  </link>
  <link rel="stylesheet" href="{% static "c3/c3.min.css" %}"
        integrity="sha512-cznfNokevSG7QPA5dZepud8taylLdvgr0lDqw/FEZIhluFsSwyvS81CMnRdrNSKwbsmc43LtRd2/WMQV+Z85AQ=="
        crossorigin="anonymous">
  </link>
{% endblock style %}

{% block js %}{{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
          crossorigin="anonymous"></script>
  <script src="{% static "d3/dist/d3.min.js" %}"></script>
  <script src="{% static "c3/c3.min.js" %}"></script>
  <script src="{% static "react/umd/react.production.min.js" %}"></script>
  <script src="{% static "react-dom/umd/react-dom.production.min.js" %}"></script>
  <script type="module" src="{% static "kilo/js/babel-prod/app.js" %}"></script>
{% endblock js %}

{% block body %}
  <div class="container-fluid" id="app"></div>
{% endblock body %}