{% extends 'rhyme/base.html' %}

{% load static %}

{% block title %}{{ block.super }}: Albums{% endblock title %}

{% block js %}{{ block.super }}
    <script src="{% static "rhyme/js/infinite_scroll_page.js" %}"></script>
{% endblock js %}

{% block content %}
    {% include "rhyme/partials/all_filters.html" %}

    <div class="item-page" data-url="{% url "album_list" %}">
        <div class="albums clearfix infinite-scroll-container" data-bind="foreach: items">
            {% include "rhyme/partials/album.html" %}
        </div>
        <p class='loading text-center' data-bind='visible: isLoading'>
            <i class='fas fa-spinner fa-spin'></i>
            Loading...
        </p>
    </div>
{% endblock content %}

{% block modals %}
    {% include "rhyme/partials/modal_album.html" %}
{% endblock %}
