{% extends 'rhyme/base.html' %}

{% block content %}
    <div id="filter-container">
        {% include "rhyme/partials/modal_filter_text.html" with model='album' name='Album Name' lhs='name' %}
        {% include "rhyme/partials/modal_filter_bool.html" with model='album' name='Is Mix' lhs='is_mix' %}
        {% include "rhyme/partials/song_filters.html" %}
        {% include "rhyme/partials/item_page_filters.html" %}
    </div>
    {% include "rhyme/partials/infinite_scroll_item_count.html" with text="albums" %}

    <div class="item-page" data-url="{% url "album_list" %}">
        <div class="albums clearfix infinite-scroll-container" data-bind="foreach: items">
            {% include "rhyme/partials/album.html" %}
        </div>
        <p class='loading text-center' data-bind='visible: isLoading'>
            <i class='fas fa-spinner fa-spin'></i>
            Loading...
        </p>
    </div>
{% endblock content %}

{% block modals %}
    <div id="song-list" class="modal" data-bind="with: modalAlbum">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>
                        <div class="pull-right">
                            {% include "rhyme/partials/export_action.html" %}
                        </div>
                        <span class="modal-title" data-bind="text: name"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <table class='song-table'>
                        <tbody data-bind="foreach: $root.modalSongs">
                            {% include "rhyme/partials/song_row.html" %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
