{% extends "orange/base.html" %}

{% load static %}

{% block title %}Rhyme{% endblock title %}

{% block style %}{{ block.super }}
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "select2/dist/css/select2.min.css" %}" />
    <link rel="stylesheet" type="text/less" href="{% static "rhyme/style/rhyme.less" %}" />
{% endblock style %}

{% block js %}{{ block.super }}
    <script src="{% static "less/dist/less.min.js" %}"></script>
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "underscore/underscore-min.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "knockout/build/output/knockout-latest.js" %}"></script>
    <script src="{% static "select2/dist/js/select2.full.min.js" %}"></script>
    <script src="{% static "rhyme/js/utils.js" %}"></script>
    <script type="module" src="{% static "rhyme/js/song_table.js" %}"></script>
    <script src="{% static "rhyme/js/rhyme.js" %}"></script>
{% endblock js %}

{% block body %}
    <div class="navbar-container">
        <nav class="navbar navbar-default">
            <a class='navbar-brand' href='#'>Rhyme</a>
            {% if has_export %}
                <div class="controls">
                    {% block controls %}
                        {% include "rhyme/partials/export_action.html" with params="{}" %}
                    {% endblock controls %}
                </div>
            {% endif %}
            <ul class="nav navbar-nav">
                <li>
                    <a href='{% url "index" %}'>
                        <i class="fas fa-music"></i>
                        Songs
                    </a>
                </li>
                <li>
                    <a href='{% url "albums" %}'>
                        <i class="fas fa-compact-disc"></i>
                        Albums
                    </a>
                </li>
                <li>
                    <a href='{% url "network" %}'>
                        <i class="fas fa-globe-asia"></i>
                        Network
                    </a>
                </li>
                <li>
                    <a href='{% url "matrix" %}'>
                        <i class="fas fa-table"></i>
                        Matrix
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="post-nav">
        <div class="row">
            <div class="col-sm-2">
            <div class="post-nav-left">
                {% block filters %}
                    <input class="form-control input-sm" data-bind="value: omniFilter, valueUpdate: 'keyup'" />
                    {% include "rhyme/partials/filters.html" %}
                {% endblock %}
            </div>
            </div>
            <div class="col-sm-10 text-center post-nav-right">
                {% block content %}{% endblock %}
                {% include "rhyme/partials/loading.html" %}
            </div>
        </div>
    </div>

    {% block modals %}{% endblock %}

    <div id="rhyme-urls" class="hide">
        {% for name, url in RHYME_URLS.items %}
            <span data-name="{{ name }}" data-url="{{ url }}"></span>
        {% endfor %}
    </div>
{% endblock body %}
