{% extends 'rhyme/stats.html' %}

{% load static %}

{% block js %}{{ block.super }}
    <script src="{% static "rhyme/js/matrix.js" %}"></script>
{% endblock js %}

{% block visualization %}

<div class="matrix-container">
    <div class="axis-label mood-high">
        <span class="fas fa-heart"></span>
        <span class="fas fa-heart"></span>
        <span class="fas fa-heart"></span>
        <span class="fas fa-heart"></span>
        <span class="fas fa-heart"></span>
    </div>
    <div class="axis-label energy-high">
        <span class="fas fa-fire"></span>
        <span class="fas fa-fire"></span>
        <span class="fas fa-fire"></span>
        <span class="fas fa-fire"></span>
        <span class="fas fa-fire"></span>
    </div>
    <div class="axis-label energy-low">
        <span class="fas fa-fire"></span>
    </div>
    <div class="chart-container">
        <svg></svg>
    </div>
    <div class="axis-label mood-low">
        <span class="fas fa-heart"></span>
    </div>
</div>

{% endblock visualization %}
