{% extends 'rhyme/stats.html' %}

{% load static %}

{% block js %}{{ block.super }}
    <script src="{% static "rhyme/js/network.js" %}"></script>
{% endblock js %}

{% block visualization %}
<div class="card float-end" id="network-controls">
  <div class="card-body d-grid gap-2">
    <select class="select2" name="category">
        <option value="">(All Categories)</option>
        {% for category in categories %}
            <option>{{ category }}</option>
        {% endfor %}
    </select>
    <input class="form-control" type="text" name="strength" value="{{ strength }}" />
    <button class="btn btn-primary" data-bind="click: refresh">
        <i class="fab fa-pagelines"></i>
        Generate
    </button>
  </div>
</div>

<div class="chart-container">
    <svg class="network" width="800" height="600"></svg>
</div>
{% endblock visualization %}
