{% extends 'rhyme/base.html' %}

{% block loading %}{% endblock %}

{% block filters %}{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Filters</th>
            </tr>
        </thead>
        <tbody>
            {% for playlist in playlists %}
                <tr>
                    <td>{{ playlist.name }}</td>
                    <td>{{ playlist.all_filters }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No playlists found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
