{% extends 'rhyme/base.html' %}

{% block content %}
    <table id="song-table" class="table table-striped">
        <thead>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Artist</th>
            <th>Albums</th>
            <th>Rating</th>
            <th>Energy</th>
            <th>Mood</th>
            <th>Tags</th>
        </thead>
        <tbody></tbody>
    </table>
{% endblock content %}

{% block templates %}
    <script type="text/html" id="song-row">
        <tr>
            <td><% if (starred) { %>*<% } %></td>
            <td><%= name %></td>
            <td><%= artist %></td>
            <td><%= albums %></td>
            <td><%= rating %></td>
            <td><%= energy %></td>
            <td><%= mood %></td>
            <td><%= tags %></td>
        </tr>
    </script>
{% endblock templates %}
