{% extends 'rhyme/base.html' %}

{% load static %}

{% block title %}{{ block.super }}: Songs{% endblock title %}

{% block js %}{{ block.super }}
    <script src="{% static "rhyme/js/infinite_scroll_page.js" %}"></script>
{% endblock js %}

{% block content %}
    {% include "rhyme/partials/all_filters.html" %}

    <div class="item-page" data-url="{% url "song_list" %}">
        <table class="song-table table table-striped table-condensed table-hover infinite-scroll-container">
            <thead>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Artist</th>
                <th>Albums</th>
                <th>Year</th>
                <th>Rating</th>
                <th>Energy</th>
                <th>Mood</th>
                <th>Tags</th>
            </thead>
            <tbody data-bind="foreach: items">
                {% include "rhyme/partials/song_row.html" %}
            </tbody>
        </table>
        <p class='loading text-center' data-bind='visible: isLoading'>
            <i class='fas fa-spinner fa-spin'></i>
            Loading...
        </p>
    </div>
{% endblock content %}

{% block modals %}
    {% include "rhyme/partials/modal_album.html" %}
{% endblock %}
