{% extends 'rhyme/base.html' %}

{% load static %}

{% block title %}{{ block.super }}: {{ title }}{% endblock title %}

{% block js %}{{ block.super }}
    <script src="{% static "d3/dist/d3.js" %}"></script>
    <script src="{% static "rhyme/js/stats_utils.js" %}"></script>
    <script src="{% static "rhyme/js/network.js" %}"></script>
{% endblock js %}

{% block content %}

{% include "rhyme/partials/all_filters.html" %}

<div class="well pull-right" id="network-controls">
    <select class="select2" name="category">
        <option value="">(All Categories)</option>
        {% for category in categories %}
            <option>{{ category }}</option>
        {% endfor %}
    </select>
    <br /><br />
    <input class="form-control" type="text" name="strength" value="{{ strength }}" />
    <br />
    <button class="btn btn-primary">
        <i class="fab fa-pagelines"></i>
        Generate
    </button>
</div>

<div class="chart-container">
    <svg class="{{ css_class }}" width="800" height="600"></svg>
</div>

<div id="tooltip" class="hide"></div>

{% endblock content %}
