{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>

        <link rel="stylesheet" type="text/css" href="/static/fontawesome/css/all.css" />
        {% block style %}
        {% endblock style %}

        <script src="{% static "react/umd/react.production.min.js" %}"></script>
        <script src="{% static "react-dom/umd/react-dom.production.min.js" %}"></script>
        {% block js %}
        {% endblock js %}
    </head>
    <body>
        {% block body %}
        {% endblock body %}
        <div id="csrf-token">
            {% csrf_token %}
        </div>
    </body>
</html>
