      <tr class="row" x-data="{ editingWorkouts: false }">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ day.id }}" />
        <td class="col-2">
          {{ day.day_of_week}}, {{ day.month_name }} {{ day.day_of_month }}, {{ day.year }}
          <input type="hidden" name="year" value="{{ day.year }}" />
          <input type="hidden" name="month" value="{{ day.month }}" />
          <input type="hidden" name="day_of_month" value="{{ day.day_of_month }}" />
        </td>
        <td class="col-4">
          <ul class="list-unstyled">
            {% for workout in day.workouts %}
              {% include "kilo/partials/workout_item.html" %}
            {% endfor %}
            <li>
              <button type="button" class="btn btn-outline-secondary btn-sm"
                x-show="editingWorkouts"
                hx-post="{% url "add_workout" %}"
                hx-include="closest tr"
                hx-swap="beforebegin"
              >
                <i class="fa fa-plus"></i> Add Workout
              </button>
            </li>
          </ul>
        </td>
        <td class="col-6" x-data="{ editingNotes: false }">
          <button type="button" class="btn btn-outline-secondary btn-sm float-end"
            x-show="!editingNotes"
            x-on:click="editingNotes = true"
          ><i class="fa fa-pencil"></i></button>

          <textarea class="form-control float-start" rows="3" name="notes" placeholder="How was today?"
            x-show="editingNotes"
          >{{ day.notes|default:"" }}</textarea>
          <div x-show="!editingNotes">{{ day.notes|default:"" }}</div>

          <div class="btn-group" role="group" x-show="editingNotes">
            <button type="button" class="btn btn-sm btn-outline-success"
              hx-post="{% url "update" %}"
              hx-include="closest tr"
              hx-target="closest tr">
              <i class="fa fa-check"></i>
            </button>
            <button type="button" class="btn btn-sm btn-outline-danger"
              x-on:click="editingNotes = false"
            >
              <i class="fa fa-times"></i>
            </button>
          </div>
        </td>
      </tr>
