      <tr class="row" x-data="{ editing: false }">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ day.id }}" />
        <td class="col-2">
          {{ day.day_of_week}}, {{ day.month_name }} {{ day.day_of_month }}, {{ day.year }}
          <input type="hidden" name="year" value="{{ day.year }}" />
          <input type="hidden" name="month" value="{{ day.month }}" />
          <input type="hidden" name="day_of_month" value="{{ day.day_of_month }}" />
        </td>
        <td class="col-4">
          <ul class="list-unstyled">
            {% for workout in day.workouts %}
              {% include "kilo/partials/workout_item.html" %}
            {% endfor %}
            <!-- TODO: add workout -->
            <button type="button" class="btn btn-outline-secondary btn-sm" x-show="editing">
              <i class="fa fa-plus"></i> Add Workout
            </button>
          </ul>
        </td>
        <td class="col-5">
          <textarea class="form-control" rows="3" name="notes" placeholder="How was today?"
            x-show="editing"
          >{{ day.notes|default:"" }}</textarea>
          <div x-show="!editing">{{ day.notes|default:"" }}</div>
        </td>
        <td class="col-1">
          <div class="btn-group" role="group" x-show="editing">
            <button type="button" class="float-end btn btn-outline-success"
              hx-post="{% url "update" %}"
              hx-include="closest tr"
              hx-target="closest tr">
              <i class="fa fa-check"></i>
            </button>
            <button type="button" class="float-end btn btn-outline-danger" x-on:click="editing = !editing">
              <i class="fa fa-times"></i>
            </button>
          </div>
          <!-- TODO: templates (or a duplication workflow) -->
          <!--div class="dropdown dropstart">
             <button class="btn btn-outline-secondary dropdown-toggle col-12" id="add-workout-dropdown-btn" type="button"
                     data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Add
             </button>
             <ul class="dropdown-menu" aria-labelledby="add-workout-dropdown-btn">
               {this.props.templates.map((template, index) => (<li>
                 <a class="dropdown-item" onClick={() => this.editDayEntry(template)}>
                   {template.activity} {template.distance} {template.distance ? template.distance_unit : ""} {template.sets ? `${template.sets} x ${template.reps}` : ""}
                 </a>
               </li>))}
               {!!this.props.templates.length && <div role="separator" class="dropdown-divider"></div>}
               <li>
                 <a class="dropdown-item" href="#" onClick={this.editExistingDayEntry}>Blank Day</a>
               </li>
             </ul>
          </div-->
          <button type="button" class="btn btn-outline-secondary col-12"
            x-show="!editing"
            x-on:click="editing = !editing"
          >Edit</button>
        </td>
      </tr>
