<button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
  <span class="visually-hidden">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu">
  {% for year in years %}
    <li>
      <a class="dropdown-item" href="#"
         hx-get="{% url url_name %}?year={{ year }}"
         hx-target="#panel"
         hx-indicator="#loading"
         hx-on:htmx:after-request="navigateVisual('{{ url_name }}', '{{ year }}')"
      >{{ year }}</a>
    </li>
  {% endfor %}
</ul>
