{% extends 'tastes/partials/modal_filter_base.html' %}

{% block body%}
<div class="container">
    <div class="form-group">
        <div class="form-row">
            <div class="col"><button class="btn btn-outline-info btn-block">*****</button></div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col"><button class="btn btn-outline-info btn-block">****</button></div>
            <div class="col"><button class="btn btn-outline-info btn-block">at least ****</button></div>
            <div class="col"><button class="btn btn-outline-info btn-block">at most ****</button></div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col"><button class="btn btn-outline-info btn-block">***</button></div>
            <div class="col"><button class="btn btn-outline-info btn-block">at least ***</button></div>
            <div class="col"><button class="btn btn-outline-info btn-block">at most ***</button></div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col"><button class="btn btn-outline-info btn-block">**</button></div>
            <div class="col"><button class="btn btn-outline-info btn-block">at least **</button></div>
            <div class="col"><button class="btn btn-outline-info btn-block">at most **</button></div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col"><button class="btn btn-outline-info btn-block">*</button></div>
        </div>
    </div>
</div>
{% endblock %}
