{% extends 'tastes/partials/modal_filter_base.html' %}

{% block body%}
<div class="container">
    <div class="form-group">
        <div class="form-row">
            <div class="col"><button class="btn btn-outline-info btn-block" data-op="=" data-rhs="5" data-dismiss="modal">*****</button></div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col"><button class="btn btn-outline-info btn-block" data-op="=" data-rhs="4" data-dismiss="modal">****</button></div>
            <div class="col"><button class="btn btn-outline-info btn-block" data-op=">=" data-rhs="4" data-dismiss="modal">at least ****</button></div>
            <div class="col"><button class="btn btn-outline-info btn-block" data-op="<=" data-rhs="4" data-dismiss="modal">at most ****</button></div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col"><button class="btn btn-outline-info btn-block" data-op="=" data-rhs="3" data-dismiss="modal">***</button></div>
            <div class="col"><button class="btn btn-outline-info btn-block" data-op=">=" data-rhs="3" data-dismiss="modal">at least ***</button></div>
            <div class="col"><button class="btn btn-outline-info btn-block" data-op="<=" data-rhs="3"data-dismiss="modal">at most ***</button></div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col"><button class="btn btn-outline-info btn-block" data-op="=" data-rhs="2" data-dismiss="modal">**</button></div>
            <div class="col"><button class="btn btn-outline-info btn-block" data-op=">=" data-rhs="2" data-dismiss="modal">at least **</button></div>
            <div class="col"><button class="btn btn-outline-info btn-block" data-op="<=" data-rhs="2" data-dismiss="modal">at most **</button></div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col"><button class="btn btn-outline-info btn-block" data-op="=" data-rhs="1" data-dismiss="modal">*</button></div>
        </div>
    </div>
</div>
{% endblock %}
